doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title UG Anfield - Contact Us
  // Bootstrap CSS
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css' rel='stylesheet')
  link(rel='stylesheet' href='about.css')
  // Custom styles
button#scrollToTopBtn(onclick='scrollToTop()' style='display: none; position: fixed; bottom: 30px; right: 30px; z-index: 1000; background-color: #f00; color: #fff; border: none; padding: 10px 15px; border-radius: 5px; cursor: pointer;')
  | &uarr; Top
// Navbar
header
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    .container
      .container.d-flex.align-items-center
        // Logo positioned before the text
        a.navbar-brand.d-flex.align-items-center(href='index.html')
          img.logo.me-2(src='images/WhatsApp Image 2024-10-25 at 12.46.37 PM.jpeg' alt='UG Anfield Logo' style='height: 40px; width: auto; position: absolute; left: 90px; top: 10px;')
        a.navbar-brand(href='index.html') UG Anfield
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
          ul.navbar-nav.ms-auto
            li.nav-item
              a.nav-link(href='about.html') About Us
            li.nav-item
              a.nav-link(href='membership.html') Membership
            li.nav-item
              a.nav-link(href='news.html') News &amp; Updates
            li.nav-item
              a.nav-link(href='media.html') Media
            li.nav-item
              a.nav-link(href='events.html') Events
            li.nav-item
              a.nav-link(href='partnership.html') Partnership
            li.nav-item
              a.nav-link(href='store.html') Store
            li.nav-item
              a.nav-link.active(href='contact.html') Contact
            // Active link for Contact
            li.nav-item
              a.nav-link(href='matches.html') Matches
// Contact Section
section.py-5
  .container
    h1.text-center.mb-5 Contact Us
    .row
      .col-md-6.offset-md-3
        form
          .mb-3
            label.form-label(for='name') Full Name
            input#name.form-control(type='text' required='')
          .mb-3
            label.form-label(for='email') Email Address
            input#email.form-control(type='email' required='')
          .mb-3
            label.form-label(for='message') Message
            textarea#message.form-control(rows='5' required='')
          button.btn.btn-danger(type='submit') Send Message
// Footer
footer.bg-dark.text-white.text-center.p-3
  .container
    p
      | Contact: info@uganfield.com | Follow us: 
      a.text-white(href=' https://tiktok.com/@ug.anfield.official') Tiktok
      | , 
      a.text-white(href='https://chat.whatsapp.com/IwDs17g4SsQ7MjDrHupncl') WhatsApp
      a.text-white(href='https://www.instagram.com/uganfield?igsh=ZGUzMzM3NWJiOQ==') Instagram
      a.text-white(href='https://www.facebook.com/profile.php?id=61566677184223') Facebook
    p &copy; 2024 UG Anfield. All rights reserved.
// Bootstrap JS
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js')
// Custom JS
script(src='contact.js')
