doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title UG Anfield Events
  // Bootstrap CSS
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css' rel='stylesheet')
  // Custom CSS
  link(rel='stylesheet' href='/css/about.css')
// Navbar Section
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  .container
    // Navbar Branding
    a.navbar-brand.d-flex.align-items-center(href='index.html')
      img.me-2(src='images/logo.jpeg' alt='logo' style='height: 40px; width: auto;')
    a.navbar-brand(herf='/') UG Anfield
    // Navbar Toggle Button for Mobile
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    // Navbar Menu Links
    #navbarNav.collapse.navbar-collapse
      ul.navbar-nav.ms-auto
        li.nav-item
          a.nav-link(href='/about') About Us
          li.nav-item
            a.nav-link(href='/membership') Membership
          li.nav-item
            a.nav-link(href='/news') News &amp; Updates
          li.nav-item
            a.nav-link(href='/media') Media
          li.nav-item
            a.nav-link(href='/events') Events
          li.nav-item
            a.nav-link(href='/partnership') Partnership
          li.nav-item
            a.nav-link(href='/contact') Contact
          li.nav-item
            a.nav-link.active(href='/matches') Matches
.container.my-5
  h3.text-center.mb-4 Upcoming Events
  .row.justify-content-center.g-4
    .col-md-6.col-lg-4
      .card.shadow-sm
        img(src='images/new1.jpg' alt='End of Year Party' class='card-img-top')
        .card-body.text-center
          h5.card-title Trophy Parade Double Decker (UG Anfield)
          p.card-text Enjoy a fun-filled event with Liverpool fans from UG Anfield.
          p
            strong Date:
            |  31st May to 1st June
          p
            strong Location:
            |  Banana Beach, Jinja
          a.btn.btn-primary(href='#') More Details

  h3.text-center.mb-4 Past Events
  .row.justify-content-center.g-4
    .col-md-6.col-lg-4
      .card.shadow-sm
        img(src='images/UgA goat.jpg' alt='Visit to Masaka' class='card-img-top')
        .card-body.text-center
          h5.card-title Visit to Masaka
          p.card-text UG Anfield fans had an amazing visit to Masaka, including a friendly match where they won a goat!
          p
            strong Date:
            |  October 15, 2024
          p
            strong Location:
            |  Masaka
          a.btn.btn-secondary(href='#') View Recap
    .col-md-6.col-lg-4
      .card.shadow-sm
        img(src='images/UgA red.jpg' alt='Tour in Jinja' class='card-img-top')
        .card-body.text-center
          h5.card-title Tour in Jinja
          p.card-text UG Anfield members enjoyed a thrilling tour in Jinja.
          p
            strong Date:
            |  September 28, 2024
          p
            strong Location:
            |  Jinja
          a.btn.btn-secondary(href='#') View Recap

    p
      | Contact us at: 
      a.text-white(href='mailto:info@uganfield.com') info@uganfield.com
      |  | Follow us on: 
      a.text-white(href='#') Facebook
      | , 
      a.text-white(href='#') Twitter
    p &copy; 2024 UG Anfield. All rights reserved.
// Bootstrap JS
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js')
